@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }
  
  .typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    animation: typing 3s steps(30, end), blink .75s step-end infinite;
    max-width: 100%; /* Adiciona limite ao container */
  }
  
  